<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Product</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
          rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom border-body" data-bs-theme="dark">
    <div class="container">
        <a class="navbar-brand" th:href="@{/products}">Home</a>
        <a class="navbar-brand" th:href="@{/products}">Products</a>
        <a class="navbar-brand" th:href="@{/categories}">Categories</a>
    </div>
</nav>

<div class="container py-4">
    <h2>Add Product</h2>

    <form th:action="@{/products/save}" th:object="${product}" method="post" class="form">
        <div class="mb-3">
            <label for="name" class="form-label">Name:</label>
            <input class="form-control" type="text" th:field="*{name}" id="name" placeholder="Product Name">
            <div class="text-danger" th:errors="*{name}"></div>
        </div>

        <div class="mb-3">
            <label for="image" class="form-label">Image URL:</label>
            <input class="form-control" type="text" th:field="*{image}" id="image" placeholder="http://image.jpg">
            <div class="text-danger" th:errors="*{image}"></div>
        </div>

        <div class="mb-3">
            <label for="price" class="form-label">Price:</label>
            <input class="form-control" type="number" th:field="*{price}" id="price" placeholder="Price">
            <div class="text-danger" th:errors="*{price}"></div>
        </div>

        <div class="mb-3">
            <label for="category" class="form-label">Category:</label>
            <select th:field="*{category}" class="form-select" id="category">
                <option value="">-- Chọn danh mục --</option>
                <option th:each="category : ${categories}"
                        th:value="${category.id}"
                        th:text="${category.name}">
                </option>
            </select>
        </div>

        <button type="submit" class="btn btn-success">Add Product</button>
        <a th:href="@{/products}" class="btn btn-secondary">Back</a>
    </form>
</div>

</body>
</html>