<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout}">
<head>
    <meta charset="UTF-8">
    <title>Add Category</title>
</head>
<body>
<div layout:fragment="content" class="container body-content">
    <h2>Add Category</h2>

    <form th:action="@{/categories/save}" th:object="${category}" method="post">
        <div class="mb-3">
            <label for="name" class="form-label">Category Name:</label>
            <input type="text" class="form-control" th:field="*{name}" id="name" placeholder="Category name">
            <div class="text-danger" th:errors="*{name}"></div>
        </div>

        <button type="submit" class="btn btn-success">Add Category</button>
        <a th:href="@{/categories}" class="btn btn-secondary">Back</a>
    </form>
</div>
</body>
</html>