<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout}">
<head>
    <meta charset="UTF-8">
    <title>Category List</title>
</head>
<body>
<div layout:fragment="content" class="container body-content">
    <h2>Category List</h2>

    <div class="mb-3">
        <a th:href="@{/categories/add}" class="btn btn-success">Create New Category</a>
        <a th:href="@{/products}" class="btn btn-primary">Back to Products</a>
    </div>

    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Category Name</th>
            <th width="160">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="category : ${categories}">
            <td th:text="${category.id}"></td>
            <td th:text="${category.name}"></td>
            <td>
                <a th:href="@{/categories/edit/{id}(id=${category.id})}"
                   class="btn btn-secondary btn-sm">Edit</a>

                <a th:href="@{/categories/delete/{id}(id=${category.id})}"
                   class="btn btn-danger btn-sm"
                   onclick="return confirm('Bạn có chắc muốn xóa category này?')">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>